@font-face {
    font-family: 'Raleway Bold';
    font-style: Bold;
    src: local('Raleway Bold'),
        url(fonts/Raleway-Bold.woff2) format('woff2'),
        url(fonts/Raleway-Bold.woff) format('woff'),
        url(fonts/Raleway-Bold.ttf) format('ttf'),
        url(fonts/Raleway-Bold.eot) format('eot');
}

@font-face {
    font-family: 'Roboto Bold';
    font-style: Bold;
    src: local('Roboto Bold'),
        url(fonts/Roboto-Bold.woff2) format('woff2'),
        url(fonts/Roboto-Bold.woff) format('woff'),
        url(fonts/Roboto-Bold.ttf) format('ttf'),
        url(fonts/Roboto-Bold.eot) format('eot');
}

@font-face {
    font-family: 'Raleway Regular';
    font-style: Regular;
    src: local('Raleway Regular'),
        url(fonts/Raleway-Regular.woff2) format('woff2'),
        url(fonts/Raleway-Regular.woff) format('woff'),
        url(fonts/Raleway-Regular.ttf) format('ttf'),
        url(fonts/Raleway-Regular.eot) format('eot');
}

@font-face {
    font-family: 'Roboto Regular';
    font-style: Regular;
    src: local('Roboto Regular'),
        url(fonts/Roboto-Regular.woff2) format('woff2'),
        url(fonts/Roboto-Regular.woff) format('woff'),
        url(fonts/Roboto-Regular.ttf) format('ttf'),
        url(fonts/Roboto-Regular.eot) format('eot');
}

@font-face {
    font-family: 'Raleway Black';
    font-style: Black;
    src: local('Raleway Black'),
        url(fonts/Raleway-Black.woff2) format('woff2'),
        url(fonts/Raleway-Black.woff) format('woff'),
        url(fonts/Raleway-Black.ttf) format('ttf'),
        url(fonts/Raleway-Black.eot) format('eot');
}

@mixin fonts ($ff, $fs, $fw, $fsz, $lh) {
    font-family: $ff;
    font-style: $fs;
    font-weight: $fw;
    font-size: $fsz;
    line-height: $lh;
}

$textcolor: #214E41;

body {
    width: 100vw;
    max-width: 1440px;
    margin: auto;
}

.header {
    height: 90px;
    display: flex;
    align-items: center;

    button {
        background: #43806C;
        border-radius: 6px;
        height: 40px;
        width: 137px;
        border: none;
        @include fonts(Raleway Bold, normal, 700, 14px, 20px);
        color: white;
        margin-left: 6%;
    }
}

.logo-wrap {
    margin-left: 3%;

    img {
        width: 75px;
        height: 22px;
    }
}

.menu {
    width: 41%;
    min-width: 380px;
    display: flex;
    justify-content: space-between;
    margin-left: 22%;
}

.menu-section {
    @include fonts(Raleway Bold, normal, 700, 14px, 20px);
    color: $textcolor;
    display: flex;
    height: 100%;
    align-items: center;
}

.login {
    @include fonts(Raleway Bold, normal, 700, 13px, 20px);
    color: $textcolor;
    position: relative;
    margin-left: 2%;

    &::after {
        position: absolute;
        content: "";
        border: solid $textcolor;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        top: 5px;
        left: 43px;
    }
}

.lang {
    @include fonts(Raleway Bold, normal, 700, 13px, 20px);
    margin-left: 3%;
    margin-right: 5%;
    color: $textcolor;
    text-transform: uppercase;
}

.block-1 {
    background: url(images/Rectangle_2.svg) no-repeat;
    background-position: center;
    height: 720px;
    box-sizing: border-box;
    padding-top: 161px;
    padding-left: 8%;
    position: relative;
    z-index: 1;
}

.block-1__text-wrap {
    width: 39%;
}

.title {
    @include fonts(Roboto Bold, normal, 700, 36px, 46px);
    color: $textcolor;
}

.block-1__form {
    margin-top: 40px;

    label {
        @include fonts(Raleway Bold, normal, 700, 16px, 24px);
        color: $textcolor;
    }
}

.input-wrap {
    display: flex;
    margin-top: 16px;

    input {
        height: 60px;
        width: 54%;
        border: none;
        border-radius: 6px 0px 0px 6px;
        box-sizing: border-box;
        padding-left: 20px;

        &::placeholder {
            color: #222222;
            @include fonts(Raleway Bold, normal, 700, 14px, 20px);
        }
    }

    button {
        width: 123px;
        height: 60px;
        background: #43806C;
        border-radius: 0px 6px 6px 0px;
        @include fonts(Raleway Bold, normal, 700, 13px, 20px);
        border: none;
        color: white;
    }
}

.block-2 {
    box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
    border-radius: 6px;
    width: 83%;
    max-width: 1200px;
    height: 171px;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    top: 710px;
    display: grid;
    place-content: center;
}

.block-2__frames-wrap {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 28%);
    gap: 4%;
    height: 71px;
}

.frame {
    display: flex;
    align-items: center;

    img {
        width: 45px;
        height: 45px;
    }
}

.frame-text {
    margin-left: 10px;
}

.frame-text-one {
    color: $textcolor;
    @include fonts(Raleway Regular, normal, 400, 16px, 24px);
}

.frame-text-two {
    color: $textcolor;
    @include fonts(Raleway Regular, normal, 400, 14px, 20px);
    margin-top: 7px;
}


.block-3 {
    height: 728px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-3__text-wrap {
    width: 33%;

    .title {
        margin-top: 20px;
    }
}

.small-text {
    @include fonts(Raleway Regular, normal, 400, 13px, 20px);
    color: #43806C;
    letter-spacing: 0.05px;
    text-transform: uppercase;
}

.no-borders-button {
    width: 107px;
    height: 36px;
    border: none;
    border-bottom: 2px solid $textcolor;
    @include fonts(Raleway Bold, normal, 700, 18px, 18px);
    margin-top: 24px;
    background: none;
    color: $textcolor;
}

.extra-text {
    margin-top: 34px;
    color: #757575;
    @include fonts(Raleway Regular, normal, 400, 18px, 30px);
}

.block-3__graph {
    margin-left: 7%;
    width: 35%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.graph-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 92%;
    height: 364px;
}

.graph-text {
    width: 50%;
}

.percent {
    @include fonts(Roboto Bold, normal, 700, 70px, 90px);
    color: $textcolor;
}

.graph__extra-text {
    margin-top: 30px;
    @include fonts(Raleway Bold, normal, 700, 13px, 22px);
    color: $textcolor;

    span {
        text-decoration: underline;
    }
}

.graph-one {
    background: #43806C;
    width: 17%;
    height: 150px;
    margin-left: 51px;
    position: relative;
    display: flex;
    justify-content: center;

    &::before {
        position: absolute;
        content: "$1,644";
        @include fonts(Raleway Regular, normal, 400, 13px, 22px);
        color: $textcolor;
        top: -22px;
    }

    &::after {
        position: absolute;
        content: "Deductible";
        @include fonts(Raleway Bold, normal, 700, 13px, 22px);
        color: $textcolor;
        top: 170px;
    }
}

.graph-two {
    background: #43806C;
    width: 17%;
    height: 300px;
    margin-left: 40px;
    position: relative;
    display: flex;
    justify-content: center;

    &::before {
        position: absolute;
        content: "$4,039";
        @include fonts(Raleway Regular, normal, 400, 13px, 22px);
        color: $textcolor;
        top: -22px;
    }

    &::after {
        position: absolute;
        content: "Annual Max";
        width: 100px;
        text-align: center;
        @include fonts(Raleway Bold, normal, 700, 13px, 22px);
        color: $textcolor;
        top: 320px;
    }
}

.by-line {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-top: 52px;
    @include fonts(Raleway Regular, normal, 400, 13px, 22px);
    color: #757575;
}

.line {
    height: 2px;
    width: 100%;
    background: #F0A446;
    position: absolute;
    top: 275px;
}

.block-4 {
    height: 705px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
}

.block-4__left-section {
    background: #E3EEED;
    box-sizing: border-box;
    padding-top: 120px;
    padding-left: 17%;
}

.block-4__text-wrap {
    width: 80%;

    p {
        color: #43806C;
        margin-top: 18px;
        @include fonts(Roboto Regular, normal, 400, 32px, 42px);
    }

    .small-text {
        color: $textcolor;
    }
}


.big-text {
    @include fonts(Roboto Bold, normal, 700, 32px, 42px);
    color: $textcolor;
    margin-top: 29px;
    position: relative;

    &::after {
        content: "";
        background: url(images/Vector16.svg);
        position: absolute;
        width: 25px;
        height: 19px;
        margin-left: 40px;
        margin-top: 12px;
    }
}

.block-4__right-section {
    background: $textcolor;
    box-sizing: border-box;
    padding-top: 165px;
    padding-left: 16%;

    p {
        color: white;
        @include fonts(Raleway Regular, normal, 400, 20px, 34px);
        letter-spacing: 0.02px;
        width: 80%;

    }
}

.block-5 {
    height: 1220px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block-5__section-1 {
    height: 298px;
    margin-top: 120px;
    margin-bottom: 60px;
    display: flex;
    width: 83%;
    justify-content: space-between;

    img {
        width: 46%;
    }
}

.section-1__text-wrap {
    width: 46%;
    display: flex;
    flex-direction: column;

    .title {
        margin-top: 20px;
    }

    .small-text {
        @include fonts(Raleway Bold, normal, 700, 13px, 20px);
    }
}

.block-5__section-2 {
    display: grid;
    width: 80%;
    grid-template-columns: 20% 22% 19% 19%;
    gap: 6%;
    grid-template-rows: 135px;
}

.numbers-wrap {
    display: flex;
    flex-direction: column;
    align-content: space-between;

    .graph__extra-text {
        margin-top: 13px;
    }
}

.number {
    @include fonts(Roboto Bold, normal, 700, 60px, 78px);
    color: #F0A446;
}

.block-5__section-3 {
    margin-top: 117px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 74%;
    height: 500px;
}
.section-3__img-wrap {
    width: 28%;
    img {
        width: 100%;
    }
}
.section-3__text-wrap {
    width: 51%;
    height: 100%;
    display: flex;
    flex-direction: column;
   justify-content: center;

    .title {
        margin-top: 20px;
        width: 89%;
    }

    .no-borders-button {
        width: 105px;
        height: 60px;
    }

    .small-text {
        @include fonts(Raleway Black, normal, 900, 13px, 20px);
    }
}

.block-6 {
    background: url(images/Rectangle7.svg) no-repeat;
    background-position: center;
    height: 522px;
    box-sizing: border-box;
    padding-left: 8%;
    display: flex;
    align-items: center;
}

.block-6__text-wrap {
    width: 37%;
    display: flex;
    flex-direction: column;

    .title {
        margin-top: 20px;
        width: 80%;
    }

    .small-text {
        @include fonts(Raleway Bold, normal, 700, 13px, 20px);
    }

    .no-borders-button {
        width: 120px;
        height: 60px;
    }
}

.block-7 {
    height: 466px;
    display: flex;
    justify-content: center;
}

.block-7__wrap {
    height: 100%;
    width: 94%;
    border-bottom: solid rgba(199, 199, 199, 0.37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider {
    margin-top: 115px;
    display: flex;
    width: 89%;
    justify-content: space-between;

    img:first-child {
        width: 24px;
    }

    img:last-child {
        width: 24px;
    }
}

.block-8 {
    height: 608px;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: 368px;
    gap: 3%;
    place-content: center;
}

.article-wrap {
    display: flex;
    flex-direction: column;
    gap: 6%;

    .small-text {
        @include fonts(Raleway Regular, normal, 400, 11px, 18px);
    }
}

.article-title {
    @include fonts(Roboto Bold, normal, 700, 20px, 26px);
    color: $textcolor;
    width: 96%;
}

.block-9 {
    height: 577px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    gap: 0px;
}

.block-9__left-section {
    background: url(images/Rectangle16.svg)no-repeat;
    background-position: center;
}

.block-9__right-section {
    background: #E3EEED;
    box-sizing: border-box;
    padding-top: 144px;
    padding-left: 16%;
}

.block-9__text-wrap {
    width: 66%;
    display: flex;
    flex-direction: column;

    div:nth-child(2) {
        margin-top: 46px;
        margin-bottom: 60px;
    }

    button {
        width: 125px;
        height: 47px;
        background: #43806C;
        border: 1px solid #43806C;
        border-radius: 6px;
        color: white;
        @include fonts(Raleway Bold, normal, 700, 13px, 21px);
    }
}

.footer {
    background: $textcolor;
    height: 788px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-wrap {
    width: 83%;
    height: 638px;
    margin-top: 65px;
}

.footer__section-1 {
    height: 286px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: solid white;
}

.footer__links {
    width: 42%;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    gap: 20%;
    grid-template-rows: 200px;
}

.footer__links__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
        @include fonts(Raleway Regular, normal, 400, 16px, 27px);
        color: white;
        letter-spacing: 0.02px;

    }

    .main-links {
        @include fonts(Raleway Bold, normal, 700, 13px, 24px);
        text-transform: uppercase;
    }

}

.mailing-form {
    width: 30%;
    height: 214px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
        @include fonts(Raleway Regular, normal, 400, 14px, 24px);
        color: white;
        letter-spacing: 0.02px;
    }

}

.footer__input-wrap {
    display: flex;

    input {
        width: 85%;
        height: 53px;
        border: 1px solid white;
        background: none;
        box-sizing: border-box;
        padding-top: 22px;
        padding-left: 21px;

        &::placeholder {
            @include fonts(Raleway Regular, normal, 400, 14px, 24px);
            color: white;
            letter-spacing: 0.02px;
        }
    }

    button {
        width: 53px;
        height: 53px;
        border: none;
        background: url(images/Frame2.svg);
    }
}

.footer__icons-wrap {
    display: flex;
    width: 121px;
    justify-content: space-between;
}

.footer__section-2 {
    @include fonts(Raleway Regular, normal, 400, 14px, 24px);
    color: white;
    letter-spacing: 0.02px;
    height: 355px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-text {
    margin-top: 48px;

    div {
        margin-top: 25px;
    }
}

.last-line {
    display: flex;
    justify-content: space-between;
}